/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; /* Black background */
    padding: 5px 5px; /* Increased horizontal padding */
    position: fixed; /* Fixed navbar */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Stay on top of other elements */
    height: 60px;
}

.nav-links {
    list-style: none; /* Remove default list style */
    display: flex; /* Flex layout for links */
    margin-right: 10px;
}

.nav-links li {
    color: #EEEEEE; /* Light gray text */
    font-family: 'Nexa Light', sans-serif; /* Updated font style */
    margin: 0 30px; /* Spacing between list items */
    font-size: 18px;
}

.logo {
    height: 40px; /* Logo height */
}

.nav-links a {
    color: #EEEEEE; /* Link color */
    text-decoration: none; /* Remove underline */
}

.nav-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Padding for main content to prevent overlap with the navbar */
.App-header {
    padding-top: 60px; /* Adjust this according to your navbar height */
}
/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack logo and nav links vertically */
        padding: 10px 20px; /* Adjust padding for smaller screens */
        height: auto; /* Allow height to adjust with content */
    }

    .nav-links {
        display: none; /* Initially hide links */
        width: 100%; /* Make nav-links full width */
        flex-direction: column; /* Stack links vertically */
        margin: 0; /* Remove right margin */
        padding-left: 0; /* Remove any extra padding */
        text-align: center; /* Center-align text */
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    .nav-links li {
        margin: 15px 0; /* Increase vertical spacing between items */
        font-size: 20px; /* Increase font size on mobile */
    }

    .logo {
        height: 35px; /* Slightly smaller logo on mobile */
    }

    /* Hamburger menu styles */
    .hamburger {
        display: block; /* Show hamburger icon */
        cursor: pointer;
        color: #EEEEEE; /* White color */
        font-size: 28px; /* Larger font for hamburger */
    }

    /* Hide hamburger icon on larger screens */
    .hamburger.hidden {
        display: none;
    }
}

/* Extra small mobile devices */
@media screen and (max-width: 480px) {
    .nav-links li {
        font-size: 18px; /* Smaller font size for very small screens */
    }

    .logo {
        height: 30px; /* Even smaller logo */
    }
}